// borderColor = darken(white, 10%)
_base = #ff6c2d
_base = #0093d2
_base = #ff6b6b
_base = #6e48aa
_grad_start = #556270
_grad_start = #9d50bb


_base = #ff4e50
_grad_start = #f9d423


// _base = #3a7bd5
// _grad_start = #00d2ff




_baseI = invert(_base)

// tabBorderColor = white
tabBorderColor = darken(white, 40%)
tabBorderColor = white
formTextColor = darken(white, 60%)
formTextColor = white
vTopSpace = 100px
hRgihtSpace = 50px
vBottomSpace = 30px
inputHeight = 45px

.hero
	height 100vh
	
.hero-content,
.hero-login
	padding 0
	position relative
	height 100%
	
.hero-bg-wrapper
	position relative
	top 0
	left 0
	height 100%
	width 100%
	overflow hidden
	


.hero-bg-img,
.hero-bg-mask,
.hero-bg-gradient-mask,
.hero-bg-front-img,
.hero-bg-video
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	
.hero-bg-img,
.hero-bg-front-img
	background-size cover
	background-position center center
	z-index 1
	background-repeat no-repeat

.hero-bg-mask
	z-index 2
	background black
	opacity .55
	
.hero-bg-gradient-mask
	z-index 4
	background linear-gradient(to right, _grad_start, _base)
	opacity .55

.hero-bg-front-img
	z-index 3
	background-blend-mode color-dodge
	opacity .1
	
.hero-bg-video
	min-height 100%
	min-width 100%
	width auto
	height auto
	z-index 1
	top 50%
	left 50%
	transform translate3d(-50%, -50%, 0)
	backface-visibility hidden
	perspective 1000

.hero-content
	// z-index 10
	color white	

.hero-caption
	z-index 10
	top 0
	left 0
	padding-top vTopSpace
	position absolute
	width 60%
	padding-left hRgihtSpace
	

.hero-caption-title
	margin-top 0
	font-size 60px
	line-height 1em
	margin-bottom vBottomSpace

.hero-caption-text
	width 90%
	margin-bottom 0
	font-size 22px
	letter-spacing 0.33px
	opacity .8
	line-height 1.6em

.hero-footer
	z-index 10
	position absolute
	bottom 0
	left 0
	padding vBottomSpace hRgihtSpace
	width 100%
	
.hero-footer-nav
	position relative
	margin-bottom vBottomSpace

.hero-footer-navbar,
.hero-footer-social-list
	list-style none
	margin 0
	padding 0
	> li
		display inline-block
		
.hero-footer-navbar
	> li
		margin-right (hRgihtSpace/3)
		letter-spacing 0.33px
		> a
			color white
			opacity .66
			&:hover
				color white
				opacity 1
		&:last-child
			margin-right 0
		
.hero-footer-social-list
	position absolute
	top -2px
	right 0
	> li
		margin-left (hRgihtSpace/4)
		> a
			display block
			height (hRgihtSpace/2)
			width (hRgihtSpace/2)
			line-height (hRgihtSpace/2)
			background white 
			color darken(white, 40%)
			border-radius 50%
			text-align center
			transition .3s
			outline none !important
			&:hover
				text-decoration none
				// color white
				color _base
				// background _base
		
	
.hero-footer-copyright > p
	margin-bottom 0
	> a
		color _baseI
		font-weight bold
		&:hover
			color _baseI

.hero-login
	// background red
	padding-top vTopSpace
	background lighten(black, 15%)
	// background _base
	background white
	// background #ffcdcd
	// background lighten(_base, 94.5%)
	background _base
	z-index 999
	backface-visibility hidden
	// box-shadow 0 -7px 40px fade-out(black, 65%)
	box-shadow 0 -7px 40px fade-out(darken(_base, 60%), 65%)
	

.hero-btn
	// margin-top vBottomSpace
	padding vBottomSpace 0
	outline none !important
	border none !important
	border-radius 2px
	font-size 20px
	line-height 1em
	text-transform uppercase
	font-weight bold
	letter-spacing 1.6px
	color white !important
	background _baseI !important
	transition .3s
	margin-top vBottomSpace*2
	// box-shadow 0 2px 4px fade-out(darken(_baseI, 50), 79%)
	box-shadow 0 7px 25px fade-out(darken(_baseI, 50), 80%)\,0 1px 2px fade-out(darken(_baseI, 50), 70%)
	&:hover
		background _baseI
		color white
		box-shadow 0 10px 35px fade-out(darken(_baseI, 50), 75%)\,0 1px 2px fade-out(darken(_baseI, 50), 70%)
	

.hero-login-tabs
	.nav-tabs
		border-bottom 1px solid fade-out(tabBorderColor, 30%)
		> li
			> a
				padding-top 0
				margin-bottom -1px
				font-size 18px
				letter-spacing 1.6px
				color formTextColor !important
				border-radius 0 !important
				border none
				border-bottom 2px solid transparent
				background none !important
				opacity .66
			&.active > a
			&.active > a:hover,
			&.active > a:focus
				border none
				border-bottom 2px solid tabBorderColor
				opacity 1
			&.active > a
				// font-weight bold
	.tab-pane
		padding vBottomSpace hRgihtSpace
		padding-top (vBottomSpace*1.5)
		
	.form-group
		position relative
		border-bottom 2px solid fade-out(tabBorderColor, 50%)
		// margin-bottom vBottomSpace
		padding-top (vBottomSpace - 10)
		transition .3s
		margin-bottom (vBottomSpace/2)
		.fa
			position absolute
			bottom 0
			// left 2px
			left 2px
			width (inputHeight - 15)
			height inputHeight
			line-height inputHeight
			display block
			color formTextColor
			font-size 18px
			z-index 1
			transition .3s
			// text-align center
		&.active
			// border-color lighten(_baseI, 30%)
			// bord
			// tabBorderColor
			// border-color _base
			// border-color _baseI
			border-color tabBorderColor
			// .fa
				// color lighten(_baseI, 30%)
			label
				opacity .66
				font-size 12px
				transform translate3d(0, 0, 0)
	
	label
		color formTextColor
		font-weight normal
		font-size 16px
		letter-spacing 0.6px
		position absolute
		margin 0
		top 8px
		left 0
		z-index 1
		transform translate3d((inputHeight - 15),  (inputHeight - 22), 0)
		transition .3s
		
	.form-control
		height inputHeight
		line-height inputHeight
		padding-top 0
		padding-bottom 0
		outline none !important
		padding-left (inputHeight - 15)
		font-size 16px
		letter-spacing 0.6px
		color formTextColor
		background none
		border-radius none
		border none
		box-shadow none
		position relative
		z-index 5